.chatProfile{
    display: flex;
    margin-top: 20px;
    position: relative;
    align-items: center;
    margin-left: 10px;
}
.chatProfile__info{
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
    
}
.chatProfile__info > p{
    padding: 10px;
    color:#fff;
    background-color: rgb(29, 155, 240);
    border-radius: 15px;
    padding-right: 5px;
    width: fit-content;
    border-bottom-left-radius: 1px;;
}
.chatprofile__img > img{
    margin-top: 10px;
    background-color: none;
    border-radius: 15px;

}
.chatProfile__info_cont{
    display: flex;
    align-items: center;
}

.chatProfile__icon{
    display: none !important;
}
.chatProfile:hover .chatProfile__icon{
    display: block !important;
}
.chatProfile__icon{
    cursor: pointer !important;
    color: rgb(73, 73, 73) !important;
}
.chat__modal{
    width: 80px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(231, 231, 231);
}
.chat__modal_del{
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: rgb(78, 78, 78);
    font-family: sans-serif;
}
.chat__modal_del:hover{
    background-color: rgb(209, 209, 209);
}