.chatProfile{
    display: flex;
    margin-top: 20px;
    align-items: center;
    margin-left: 10px;
}
.chatProfile__info{
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 10px;
    width: fit-content;
    border-radius: 15px;
    border-bottom-left-radius: 1px;
    background-color: rgb(29, 155, 240);
}
.chatProfile__info > p{
    color:#fff;
    padding-right: 5px;
}
.chatprofile__img > img{
    margin-top: 10px;

}
